body {
  font-family: sans-serif;
}

h1 {
  margin: 0px;
}

.results-display {
  font-size: 32px;
  text-align: center;
  margin-bottom: 32px;
}

.game-display {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 32px;
}

.player,
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-title {
  font-size: 28px;
}

.score {
  font-size: 20px;
}

.player-choice,
.computer-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  color: white;
  width: 250px;
  height: 250px;
}

.player-choice {
  background-color: red;
}

.computer-choice {
  background-color: blue;
}

.player-input {
  display: flex;
  justify-content: center;
  gap: 16px;
}